body {
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: Verdana, arial;
	font-size: 11px;
	font-style: normal;
	line-height: 2;
	color: #333333;
    background-color: #F0FFF0;
    background-image: url("/images/bg/lgren072.jpg");

}

p {text-align: justify;}

table.passport {
    width: 240;
    border: 2px solid #888888;
    padding:14;
    margin-right: 80;
}

a:visited {
	color: #660000;
	text-decoration: underline;
    font-weight: bold
}

a:link {
   color: #bb3333;
   text-decoration: underline;
   font-weight: bold
}

a:hover {
	color: #B0A4A4;
	text-decoration: none;
    font-weight: bold;
}


