p.tei-author {
    font-style: italic;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	color: #000000;
       font-weight: normal;

}

h3 {
	font-size: 12px;
	font-weight: bold;
}

p.tei-lg {
     margin-left: 40;
}

p.tei-lg1 {
     margin-left: 40;
}

p.tei-lg p.tei-lg {
     margin-left: 80;
}

p.tei-lg2 {
     margin-left: 40;
}
